__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

id_rsa
id_rsa.pub
jwt_secret.key

static/uploads/*
!static/uploads/.gitkeep

*.db
*.sqlite3
dump.sql
test.db
test.db-journal

.env.test
.pytest_cache/
.coverage
htmlcov/

static/uploads/*
!static/uploads/.gitkeep